<% include ./partials/header %>

<h1>Sign Up Form</h1>

<div class="container ui" id="container">
    <h1>Register a new Login</h1>
    <form class="ui form" action="/register" method="POST">
      <div class="field">
        <input type = "text" name="username" placeholder="username">
      </div>
      <div class="field">
        <input type = "password" name="password" placeholder="password">
      </div>
      <button class="ui button fl login-button">Register</button><a class="ui button fr login-button" href="/">Already have a Login?</a>
    </form>
  </div>

<% include ./partials/footer %>